{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Регистрация{% endblock %}

{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" > Регистрация </h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li class="disabled-text" >Регистрация</li>
          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#ff5722;">

        <!-- description -->
        <h4 class="white-text my-4">Зарегистрируйтесь и получите доступ ко всему функционалу образовательной платформы!</h4>
  </div>
</header>
{% endblock %}


{% block content %}

<section class="text-center mt-4">
              <h2 class="mb-5 font-weight-bold" style="color:#ff5722;">Регистрация</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">  </p>
                </div>
              </div>
              <div class="row d-flex justify-content-center mb-4">

              </div>
</section>

  {% if registered %}
    <h1>Спасибо за регистрацию</h1>
  {% else %}
       
      <form class='col-7 center container' method="post" enctype="multipart/form-data">
        <h3>Форма регистрации </h3>
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <button href="" class="btn btn-outline-info" type="submit">
          Зарегистрироваться
        </button></div>
        <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
           
       
        </div>
        </div>
      </form>
  {% endif %}
{%endblock%}
