{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
home
{% endblock title %}
{% block image_block %}
  <header class="info-header">
    <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-12 text-white">
          <!-- heading -->
          <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" > Доступные Викторины   </h2>
          <div class="row d-flex justify-content-center text-center">
            <ul class="breadcrumb">
              <li><a href="{% url 'index' %}">Главная</a></li>
              <li><a href="{% url 'educate_portal:standard_list' %}">Образовательный портал</a></li>
              <li class="disabled-text" >Викторины</li>
            </ul>
          </div>

          <!-- divider -->
          <hr style="color:#ff5722;">

          <!-- description -->
          <h5 class="white-text my-4">На данной странице вы можете пройти викторины по программированию!</h5>
    </div>
  </header>
  {% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Готовы?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
        <button type="button" id="start-button" class="btn btn-success">Да</button>
      </div>
    </div>
  </div>
</div>

<div class="h1 container-fluid text-center">Список викторин</div>
<hr>





<div class="row mr-3 ml-3 container col-12">

  {% for obj in object_list %}
  <div class="col-md-3">
    <div class="card h-100 container">
      <img  src="{{obj.quiz_image.url}}" class="container" alt="нет пикчи" /   >
      <div class="card-body">
        <h5 class=""> {{obj.name}}</h5>

        {{obj.topic}}

      </div>
      {% if user.is_authenticated %}
      <button class="btn  modal-button btn-primary" data-pk="{{obj.pk}}" data-quiz="{{obj.name}}"
        data-questions="{{obj.number_of_questions}}" data-difficulty="{{obj.difficluty}}" data-time="{{obj.time}}"
        data-pass="{{obj.required_score_to_pass}}" data-toggle="modal" data-target="#quizStartModal">
       Начать викторину  
      </button><br>
      {% else %}
      <div class='text-danger'>Зарегистрируйтесь или войдите для участия в викторине</div>
      <a href="{% url 'user_login' %}" class="btn btn-primary" style="">Войти</a>
      <br>
      <a href="{% url 'register' %}" class="btn btn-primary" style="">Зарегистрироваться</a>

      {%endif%}



    </div>



  </div>
  {% endfor %}
</div>





{% endblock content %}